@font-face {
  font-family: "Silkscreen";
  src: url("../../fonts/Silkscreen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: greenyellow;
  margin: 0 !important;
}

.marquee-text {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Silkscreen", sans-serif;
  color: black;
}

h5.marquee-text {
  margin: 0;
  white-space: nowrap;
}

.marginBottomm {
  margin-bottom: 10px !important;
}
