/* src/components/navbar/navbar.css */
.mynav {
  font-family: "Kanit", sans-serif;
  width: 100% !important;
}

.colornavlink {
  color: greenyellow;
}

.centrato {
  justify-content: center !important;
}

div#basic-navbar-nav.navbar-collapse.collapse {
  justify-content: center !important;
}

.navback {
  background-color: transparent !important;
}

.colorVio {
  color: purple !important;
}
