@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 25s linear infinite;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.rotating:hover {
  animation: rotate-fast 1s linear infinite;
  transform: scale(2);
}

h2 {
  color: greenyellow;
}

h2:hover {
  transform: scale(2);
  color: rgb(147, 17, 223);
  transform: translateY(10px);
}

.bigPlanet:hover {
  transform: scale(1.5);
}

@media (min-width: 576px) {
  .pianeta-image {
    height: 250px; /* Dimensione aumentata per schermi superiori a 576px */
  }
}
