@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-100vh) scale(3);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropIn {
  opacity: 0;
  animation: dropIn 0.8s ease-out forwards;
}

.dropIn-delay-0 {
  animation-delay: 1s;
}

.dropIn-delay-1 {
  animation-delay: 1.3s;
}

.dropIn-delay-2 {
  animation-delay: 1.6s;
}

.dropIn-delay-3 {
  animation-delay: 1.9s;
}

.rotating {
  animation: rotate 25s linear infinite;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.rotating:hover {
  animation: rotate-fast 1s linear infinite;
  transform: scale(2);
}

h2 {
  color: greenyellow;
}

h2:hover {
  transform: scale(1.3);
  color: rgb(147, 17, 223);
}

.bigPlanet:hover {
  transform: scale(1.5);
}

@media (min-width: 576px) {
  .pianeta-image {
    height: 250px;
  }
}

.planet-title {
  opacity: 0;
  animation: fadeIn 6s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
