@keyframes pendulum {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(10deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(-10px) rotate(-10deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes flyInFromSide {
  0% {
    transform: translateX(-100%) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translateX(20%) scale(0.7);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.shuttleBoy {
  animation: pendulum 14s ease-in-out infinite;
  display: inline-block;
}

.shuttleBoy-container {
  overflow: hidden;
  width: 100%;
}

.shuttle-image {
  animation: flyInFromSide 2s ease-in-out;
}

h2 {
  margin: 0px;
}

.bigShip:hover {
  transform: scale(1.6);
}

@media (min-width: 576px) {
  .shuttle-image {
    height: 350px;
  }
}
