/* AboutMe.css */
.about-me-container {
  margin-top: 10px;
}

.profile-picture {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border: 2px solid;
  border-color: greenyellow;
}

.about-me-text {
  margin-top: 20px;
  font-size: 1.2em;
  line-height: 1.5;
}

hr {
  color: greenyellow;
}

.greenColor {
  color: greenyellow !important;
}

a {
  text-decoration: none;
}

i {
  font-size: 2rem;
}

p {
  text-align: justify;
}

.backArrow {
  font-size: 2rem !important;
}

.backArrow:hover {
  color: purple !important;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-arrow {
  display: block;
  margin: 10px auto;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

.assoluto {
  position: absolute;
}
